@import "../partials/mixins";
@import "../partials/variables";

.container {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 3px solid $primary-color;

  @include for-tablet-portrait-up {
    display: flex;
  }
}
