@import "../partials/variables";
@import "../partials/mixins";

.container {
  width: calc(100vw / 10);
  height: calc(100vh / 6);
  outline: 3px solid $primary-color;
  display: flex;
  align-items: center;
  background-color: $secondary-bgcolor;
  justify-content: center;
  &:hover {
    background: $primary-bgcolor;
    color: $primary-color;
  }

  @include for-tablet-portrait-up {
    width: calc(50vw / 3);
    height: 5rem;
    outline: 3px solid $primary-color;
    display: flex;
    align-items: center;
    background-color: $secondary-bgcolor;
    justify-content: center;
  }
}

.active {
  background: $primary-bgcolor;
  color: $primary-color;
}
