div:not(.diamond) > canvas {
  height: 100% !important;
}

.table-cell-trucate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 
.MuiDataGrid-cell--editable {
  background: #eeeeee;
} */

.body {
  height: 100%;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}
